In [1]:
a=10
b=20
print(a+b)

30

In [2]:
a=input("enter a value:")
print(a, type(a))

enter a value:10
10 <class 'str'>

In [3]:
a=input("enter a value:")
print(a, type(a))

enter a value:python
python <class 'str'>

In [4]:
a=input("enter a value:")
print(a, type(a))

enter a value:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [5]:
a=input("enter a value:")
print(a, type(a))

enter a value:(1,2,3,4)
(1,2,3,4) <class 'str'>

In [6]:
s="10"
print(s, type(s))
s="[1,2,3,4]"
print(s, type(s))
s="(1,2,3,4)"
print(s, type(s))

10 <class 'str'>
[1,2,3,4] <class 'str'>
(1,2,3,4) <class 'str'>

In [7]:
a=10
print(a, type(a))
a=str(a)
print(a, type(a))

10 <class 'int'>
10 <class 'str'>

In [8]:
a=input("enter first number:")
b=input("enter second number:")
print(a+b)

enter first number:10
enter second number:20
1020

In [9]:
a=input("enter first number:")
b=input("enter second number:")
a=int(a)
b=int(b)
print(a+b)

enter first number:10
enter second number:20
30

In [10]:
int("10")

10

In [11]:
int(10.23)

10

In [12]:
int("10.23")

ValueError: invalid literal for int() with base 10: '10.23'

In [13]:
int("23") # decimal system: 3*10**0+2*10**1
int("23.4") # decimal system: 4*10**0+.*10**1:  .(dot) has an issue

ValueError: invalid literal for int() with base 10: '23.4'

In [15]:
a="10.23"
a=float(a)
print(a, type(a))

10.23 <class 'float'>

In [16]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [17]:
int("abc", 16)

2748

In [18]:
int("10",8)

8

In [19]:
int("1234",2)

ValueError: invalid literal for int() with base 2: '1234'

In [20]:
int("1234",8)

668

In [21]:
int("164",8)
print(4*8**0+6*8**1+1*8**2)

116