In [1]:
print("hello")

hello

In [3]:
print(10)

10

In [4]:
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product",name,"cost is Rs.",cost)

the product apple cost is Rs. 10

In [5]:
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product",name,"cost is Rs.",cost,sep="")

the productapplecost is Rs.10

In [6]:
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product ",name," cost is Rs.",cost,sep="")

the product apple cost is Rs.10

In [7]:
# format specifiers
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product %s cost is Rs.%s",(name,cost))

the product %s cost is Rs.%s ('apple', 10)

In [8]:
# format specifiers
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product %s cost is Rs.%s"%(name,cost))

the product apple cost is Rs.10

In [9]:
# format specifiers
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product %s cost is Rs.%s"%(cost,name))

the product 10 cost is Rs.apple

In [10]:
#template strings
cost=10
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{cost}")

the product apple cost is Rs.10

In [11]:
#template strings
cost=10
name="apple"
# the product apple cost is Rs.10
print("the product {name} cost is Rs.{cost}")

the product {name} cost is Rs.{cost}

In [12]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{float(cost)}")

the product apple cost is Rs.10.2345546457

In [13]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print("the product %s cost is Rs.%f"%(name, cost))

the product apple cost is Rs.10.234555

In [14]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print("the product %s cost is Rs.%.2f"%(name, cost))

the product apple cost is Rs.10.23

In [15]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{cost:f}")

the product apple cost is Rs.10.234555

In [16]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{cost:2f}")

the product apple cost is Rs.10.234555

In [17]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{cost:.2f}")

the product apple cost is Rs.10.23

In [18]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{cost:d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [19]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{int(cost)}")

the product apple cost is Rs.10

In [20]:
#template strings
cost=10.2345546457
name="apple"
# the product apple cost is Rs.10
print(f"the product {name} cost is Rs.{int(cost)}")
print("the product %s cost is Rs.%d"%(name,cost))

the product apple cost is Rs.10
the product apple cost is Rs.10

In [21]:
s="sfsdf\tsfsdf\nsdfdsfsd\nsdfsdf\nsdfsdf\tsdfsdf\n"
print(s)

sfsdf	sfsdf
sdfdsfsd
sdfsdf
sdfsdf	sdfsdf

In [22]:
# raw strings
s=r"sfsdf\tsfsdf\nsdfdsfsd\nsdfsdf\nsdfsdf\tsdfsdf\n"
print(s)

sfsdf\tsfsdf\nsdfdsfsd\nsdfsdf\nsdfsdf\tsdfsdf\n

In [23]:
s="sfsdf\\tsfsdf\\nsdfdsfsd\\nsdfsdf\\nsdfsdf\\tsdfsdf\\n"
print(s)

sfsdf\tsfsdf\nsdfdsfsd\nsdfsdf\nsdfsdf\tsdfsdf\n

In [24]:
print("sdfsdf");print("sfdsf")

sdfsdf
sfdsf

In [25]:
print("sdfsdf", end=" ");print("sfdsf")

sdfsdf sfdsf

In [26]:
t="sdsdfsd\nsdfsd\tsdfsd\nsfds\tsdfsd\n"
print(t)
print("%s"%t)

sdsdfsd
sdfsd	sdfsd
sfds	sdfsd

sdsdfsd
sdfsd	sdfsd
sfds	sdfsd

In [27]:
t="sdsdfsd\nsdfsd\tsdfsd\nsfds\tsdfsd\n"
print(t)
print("%r"%t)

sdsdfsd
sdfsd	sdfsd
sfds	sdfsd

'sdsdfsd\nsdfsd\tsdfsd\nsfds\tsdfsd\n'

In [28]:
a=10
print(bin(a))
print(hex(a))
print(oct(a))

0b1010
0xa
0o12

In [29]:
a=1234
print("%b"%a)

ValueError: unsupported format character 'b' (0x62) at index 1

In [30]:
a=1234
print(f"{a:b}")

10011010010

In [32]:
x=256
print(f"{x}")
print(f"{x:b}")

256
100000000

In [33]:
x=256
print(f"{x}")
print(f"{x:b}")
print(f"{x:h}")
print(f"{x:o}")

256
100000000

ValueError: Unknown format code 'h' for object of type 'int'

In [34]:
x=256
print(f"{x}")
print(f"{x:b}")
print(f"{x:x}")
print(f"{x:o}")

256
100000000
100
400