In [1]:
a=1000
print(a, type(a))
a=1.23
print(a, type(a))
a=1+2j
print(a, type(a))
a=True
print(a, type(a))
a=None
print(a, type(a))
a="python program"
print(a, type(a))
a=[10,20,30,"python"]
print(a, type(a))
a=(1,2,3,10)
print(a, type(a))
a={"name":"Jay","age":4}
print(a, type(a))

1000 <class 'int'>
1.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>
python program <class 'str'>
[10, 20, 30, 'python'] <class 'list'>
(1, 2, 3, 10) <class 'tuple'>
{'name': 'Jay', 'age': 4} <class 'dict'>

In [2]:
a=1000
b=2000
c=a
a=4000
d=1000
s="python p1"
s1=s
s2="apple"

In [7]:
s="pythona"
print(s[0],id(s[0]))
print(s[1],id(s[1]))
print(s[2],id(s[2]))
print(s[3],id(s[3]))
print(s[4],id(s[4]))
print(s[5],id(s[5]))
print(s[6],id(s[6]))
s1="apple"
print(s1[0],id(s1[0]))
print(s1[1],id(s1[1]))
print(s1[2],id(s1[2]))
print(s1[3],id(s1[3]))

p 2844908145136
y 2844908145584
t 2844908124272
h 2844908145520
o 2844908126128
n 2844908145456
a 2844908311216
a 2844908311216
p 2844908145136
p 2844908145136
l 2844908311280

In [8]:
a=1000
a=4000
print(a)

4000

In [ ]:
a=1000
b=2000
c=a
a=4000
c=5000
d=c
e=7000